html {
  scroll-behavior: smooth;
}

body {
  font-family: Arial, sans-serif;
  background-color: #748cab;
  color: white;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}

.top-bar {
  background-color: #748cab;
  color: white;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute; /* Change to absolute positioning */
  top: 20px; /* Position it at the top */
  right: 10px; /* Position it at the right */
  z-index: 1000; /* Ensure it is on top of other elements */
}

.buttons {
  display: flex;
  gap: 10px;
  position: relative;
  z-index: 1; /* Ensure buttons are in front of the oval background */
}

.about, .projects, .education, .skills, .contact {
  background-color: #3e5c76;
  color: white;
  border: none;
  padding: 10px 20px;
  text-decoration: none;
  cursor: pointer;
  border-radius: 25px; /* Rectangular oval shape */
  transition: background-color 0.3s, transform 0.1s;
}

section {
  padding: 50px;
  margin: 50px 0;
  text-align: left;
}

#aboutSection {
  background-color: #748cab;
}

.aboutText {
  color: black;
}

#projectsSection {
  background-color: #f0ebd8;
}

.projectsText {
  color: black;
}

#educationSection {
  background-color: #748cab; 
}

#skillsSection {
  background-color: #f0ebd8; 
}

#contactSection {
  background-color: #748cab;
}

.about-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.about-text {
  flex: 1;
}

.profile-picture {
  flex: 0 0 150px;
  margin-left: 20px;
}



.timeline {
  position: relative;
  max-width: 600px;
  margin: 0 auto;
}

.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: #ddd;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

.timeline-item {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

.timeline-item::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: white;
  border: 4px solid #FF9F55;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

.timeline-item.left {
  left: 0;
}

.timeline-item.right {
  left: 50%;
}

.timeline-item .content {
  padding: 20px 30px;
  background-color: white;
  position: relative;
  border-radius: 6px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 0 auto;
}

input, textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}
